@use "../Utils/variables"as *;
@use "../Utils/mixins";


/* host */ 

.product__host{
    flex-direction: column;
    justify-content: center;
    @media #{$mq-small}{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: -1rem;
    }
    &__infos{
        margin-bottom: 2rem;
        @media #{$mq-small}{
            margin-bottom: 0;
        }
        &__details{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-top: -0.5rem;
        }
        &__name{
            width : min-content;
            text-align: right;
            font-size: 1.2rem;
            font-weight: 500;
            @media #{$mq-small}{
                font-size: 1rem;
            }
        }
        &__picture{
            margin-left: 1rem;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            @media #{$mq-small}{
                width: 3rem;
                height: 3rem;
            }
            & img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }    

}


